# ☆ Project系列 ☆ 
# visual studioで生成されるファイルをスルー
Project/Elina_Lead/.vs/
Project/Elina_Lead/Debug/
Project/Elina_Lead/Release/
Project/Elina_Lead/x64/
Project/Elina_Lead/Elina_Lead/Debug/
Project/Elina_Lead/Elina_Lead/Release/
Project/Elina_Lead/Elina_Lead/x64/

